<html>
	<head>
<title>Access Denied</title>
<link  href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
	<body>
	<div class="topnav">
  		<a class="active" href="details?_id=<%=_id%>">Go Back</a>
		</div>
		<div class="header">
  			<h1>You Don't have the permission !</h1>
			<p><%= message %></p>
		</div>
		
		
		
	</body>
</html>

