<html>
    <head>
    <title>Error</title>
    <link  href="/css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div class="topnav">


          <a class="active" href="/">Go Back</a>



        </div>
        <div class="header">
              <h1><%= message %></h1>
        </div>

    </body>
</html>
