<html>
<head>

<link  href="/css/styles.css" rel="stylesheet" type="text/css"> 
<link  href="/css/Login.css" rel="stylesheet" type="text/css"> 

<title>Welcome</title>
</head>

<body>
	
	<div class="header">
  			<h2>Use the following IDs :</h2>
			<p>student</p>
			<p>demo</p>
		
	</div>

		
         <div class="login-card"><p class="profile-name-card">Login  </p>
        <form class="form-signin" action="/login" method="post" style="text-align:center;">
	<input class="form-control" type="text" id="name"  placeholder="Name" name="name"><br>
	<input class="form-control" type="password" id="Password" placeholder="No need" name="password"><br>
            <div class="checkbox">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Remember me</label></div>
    	</div>
	<button class="btn btn-primary btn-block btn-lg " type="submit">Sign in</button>
	</form>
</div>
	
</body>

</html>

