<html>
<head>
<link  href="/css/styles.css" rel="stylesheet" type="text/css">
</head>  
  <body>
<div class="topnav">
  		
		
  		<a class="active" href="/">Go Back</a>

  		
		</div>
		<div class="header">
        <H1><%=message%> Successfully</H1>
		</div>
  
    </body>
</html>
